<div class="col-xs-12">
<%= simple_form_for(@invoice) do |f| %>
  <div id="invoice-wrap">
    <%= f.error_notification %>
    <div class="row">
      <div class="col-xs-12">
        <h3 class="page-header">INVOICE<small class="pull-right">Date: <span class="invoice_header_date"></span></small></h3>
      </div><!-- /.col -->
    </div>

    <div class="row invoice-info">
      <div class="col-xs-4 invoice-col">
        
        Book Name
        <%= f.input_field :book, class: "form-control", id: "1" %>
       
       
       Category <%= f.input_field :category, class: "form-control", id: "1" %>
       ISBN
       <%= f.input_field :isbn, class: "form-control", id: "1" %>
        
            
      </div><!-- /.col -->
      <div class="col-xs-4 invoice-col">
        To
        <address>
          <%= f.input_field :name, class: "form-control", id: "5" %>
          <address>
          Address line 1<%= f.input_field :address, class: "form-control", id: "5" %>
         
         Phone no. <%= f.input_field :phone, class: "form-control", id: "5", as: :integer %>
           </address>
      </div><!-- /.col -->
 
           <div class="col-xs-4 invoice-col">
        <form class="form-horizontal">
          <div class="form-group">
            <div class="col-xs-4"><label>Invoice #</label></div>
            <div class="col-xs-8 invoice_num"><span id="invoice_number"><%= (Invoice.last.present? ? (Invoice.last.id + 1) : 1) %></span></div>
          </div>
          
         <div class="col-xs-12"></div>
          <div class="form-group">
            <div class="col-xs-4"><%= f.label :date, required: false %></div>
            <div class="col-xs-8"><%= f.input_field :date, class: "form-control datepicker", as: :string %></div>
          </div>

          <div class="col-xs-12"></div>
          <div class="form-group">
            <div class="col-xs-4"><%= f.label :price, required: false %></div>
            <div class="col-xs-8"><%= f.input_field :price, id:"invoice_price", class: "form-control" %></div>
          </div>
          
          <div class="row">
      <div class="col-xs-12 pull-left">
       
        <%= f.button :submit, 'Proceed', class: 'btn btn-warning btn-sm', id: "submit_invoice" %>    
      </div>
    </div>
<% end %>

